.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.not-found h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.not-found p {
    font-size: 1.2em;
    color: #666;
}